Tech-Hub Sales

In [ ]:
import pandas as pd 
techhub_sales = pd.read_csv(r"C:\Users\kanza\Downloads\Week4\TechHub_Sales_Data.csv")
techhub_products = pd.read_csv(r"C:\Users\kanza\Downloads\Week4\TechHub_Products.csv")
techhub_customers = pd.read_csv(r"C:\Users\kanza\Downloads\Week4\TechHub_Customers.csv")

print(techhub_sales.head())
print(techhub_products.head())
print(techhub_customers.head())

   order_date customer_id product_id product_category  revenue  quantity  \
0  2023-12-05       C0291      P0084         Monitors  3086.76         2
1  2023-08-08       C2209      P0080          Tablets  1033.86         2
2  2024-04-29       C1668      P0049          Tablets   644.56         2
3  2024-03-17       C1452      P0099       Networking   659.20         4
4  2023-02-25       C2759      P0095      Smartphones   174.85         1

          region customer_acquisition_channel
0  West Midlands                     Referral
1     South West                      Organic
2     South East                      Organic
3     North East                         Paid
4         London                         Paid
  product_id       product_name product_category  cost_price  list_price  \
0      P0001  Purpose Networkin       Networking       73.76       89.25
1      P0002     Ago Smartphone      Smartphones      749.65     1027.53
2      P0003   Election Monitor         Monitors      610.97      679.83
3      P0004       Chair Laptop          Laptops      271.03      363.40
4      P0005    Require Monitor         Monitors      730.22     1008.09

           supplier launch_date
0          TechCorp  2019-12-12
1  Nova Electronics  2021-05-04
2          TechCorp  2020-11-24
3  Nova Electronics  2019-11-15
4  Nova Electronics  2023-08-22
  customer_id signup_date age_group  gender       city customer_type  \
0       C0001  2020-06-11     18-25    Male  Liverpool           New
1       C0002  2022-04-11     56-65    Male  Newcastle           New
2       C0003  2020-09-27     26-35    Male    Cardiff     Returning
3       C0004  2023-06-19     56-65  Female  Leicester           New
4       C0005  2022-04-08     26-35    Male  Leicester           New

  loyalty_tier
0       Silver
1         Gold
2       Bronze
3       Bronze
4       Silver

In [3]:
is_valid_product_id = techhub_sales['product_id'].isin(techhub_products['product_id']).all()

if is_valid_product_id:
    print("All product IDs in sales data are valid.")
else:
    print("There are invalid product IDs in sales data.")

All product IDs in sales data are valid.

In [4]:
is_valid = techhub_sales['customer_id'].isin(techhub_customers['customer_id']).all()

if is_valid:
    print("All customer IDs in sales data are valid.")
else:
    print("There are invalid customer IDs in sales data.")

All customer IDs in sales data are valid.

In [5]:
merged_techhub = pd.merge(techhub_sales, techhub_products, on='product_id')
final_techhub_data = pd.merge(merged_techhub, techhub_customers, on='customer_id')

In [6]:
final_techhub_data.head()

,order_date,customer_id,product_id,product_category_x,revenue,quantity,region,customer_acquisition_channel,product_name,product_category_y,cost_price,list_price,supplier,launch_date,signup_date,age_group,gender,city,customer_type,loyalty_tier
0,2023-12-05,C0291,P0084,Monitors,3086.76,2,West Midlands,Referral,Grow Networkin,Networking,57.43,81.94,ByteWare,2019-12-13,2020-10-13,56-65,Female,Cardiff,New,Gold
1,2023-08-08,C2209,P0080,Tablets,1033.86,2,South West,Organic,Response Laptop,Laptops,560.75,730.29,TechCorp,2019-12-22,2021-02-09,36-45,Female,Manchester,Returning,Silver
2,2024-04-29,C1668,P0049,Tablets,644.56,2,South East,Organic,Hundred Laptop,Laptops,722.45,811.71,TechCorp,2021-04-18,2022-09-22,36-45,Female,London,New,Silver
3,2024-03-17,C1452,P0099,Networking,659.20,4,North East,Paid,Brother Accessorie,Accessories,762.00,1120.37,ByteWare,2022-02-01,2022-02-02,18-25,Male,Cardiff,New,Silver
4,2023-02-25,C2759,P0095,Smartphones,174.85,1,London,Paid,Notice Monitor,Monitors,190.69,219.48,ByteWare,2023-07-06,2022-12-20,18-25,Male,Leeds,Returning,Silver

In [7]:
final_techhub_data['launch_date'] = pd.to_datetime(final_techhub_data['launch_date'])
final_techhub_data['signup_date'] = pd.to_datetime(final_techhub_data['signup_date'])
final_techhub_data['order_date'] = pd.to_datetime(final_techhub_data['order_date'])
final_techhub_data[['signup_date', 'launch_date', 'order_date']].head()

  signup_date launch_date order_date
0  2020-10-13  2019-12-13 2023-12-05
1  2021-02-09  2019-12-22 2023-08-08
2  2022-09-22  2021-04-18 2024-04-29
3  2022-02-02  2022-02-01 2024-03-17
4  2022-12-20  2023-07-06 2023-02-25

In [8]:
final_techhub_data.isnull().sum()

order_date                      0
customer_id                     0
product_id                      0
product_category_x              0
revenue                         0
quantity                        0
region                          0
customer_acquisition_channel    0
product_name                    0
product_category_y              0
cost_price                      0
list_price                      0
supplier                        0
launch_date                     0
signup_date                     0
age_group                       0
gender                          0
city                            0
customer_type                   0
loyalty_tier                    0
dtype: int64

In [9]:
s = final_techhub_data.duplicated()
print(s.sum())

0

In [10]:
final_techhub_data['revenue'].dtype

dtype('float64')

In [11]:
final_techhub_data['cost_price'] = final_techhub_data['cost_price'].astype(float)
final_techhub_data['quantity'] = final_techhub_data['quantity'].astype(int)
final_techhub_data['revenue'] = final_techhub_data['revenue'].astype(float)

In [12]:
final_techhub_data['profit_amount'] = final_techhub_data['revenue'] - (final_techhub_data['cost_price'] * final_techhub_data['quantity'])
final_techhub_data

,order_date,customer_id,product_id,product_category_x,revenue,quantity,region,customer_acquisition_channel,product_name,product_category_y,...,list_price,supplier,launch_date,signup_date,age_group,gender,city,customer_type,loyalty_tier,profit_amount
0,2023-12-05,C0291,P0084,Monitors,3086.76,2,West Midlands,Referral,Grow Networkin,Networking,...,81.94,ByteWare,2019-12-13,2020-10-13,56-65,Female,Cardiff,New,Gold,2971.90
1,2023-08-08,C2209,P0080,Tablets,1033.86,2,South West,Organic,Response Laptop,Laptops,...,730.29,TechCorp,2019-12-22,2021-02-09,36-45,Female,Manchester,Returning,Silver,-87.64
2,2024-04-29,C1668,P0049,Tablets,644.56,2,South East,Organic,Hundred Laptop,Laptops,...,811.71,TechCorp,2021-04-18,2022-09-22,36-45,Female,London,New,Silver,-800.34
3,2024-03-17,C1452,P0099,Networking,659.20,4,North East,Paid,Brother Accessorie,Accessories,...,1120.37,ByteWare,2022-02-01,2022-02-02,18-25,Male,Cardiff,New,Silver,-2388.80
4,2023-02-25,C2759,P0095,Smartphones,174.85,1,London,Paid,Notice Monitor,Monitors,...,219.48,ByteWare,2023-07-06,2022-12-20,18-25,Male,Leeds,Returning,Silver,-15.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2023-11-14,C2651,P0062,Laptops,4129.65,3,London,Organic,Low Laptop,Laptops,...,1338.79,TechCorp,2020-03-19,2021-07-07,36-45,Female,Belfast,Returning,Silver,1339.50
11996,2023-11-02,C1670,P0004,Laptops,1369.56,1,London,Referral,Chair Laptop,Laptops,...,363.40,Nova Electronics,2019-11-15,2020-12-31,26-35,Male,Sheffield,New,Silver,1098.53
11997,2023-03-14,C1593,P0059,Accessories,794.16,1,London,Paid,Under Accessorie,Accessories,...,377.52,Nova Electronics,2021-09-04,2023-03-02,26-35,Male,Bristol,New,Gold,479.54
11998,2023-09-10,C1975,P0029,Smartphones,6958.56,4,South West,Organic,Bar Networkin,Networking,...,773.15,Quantum Supplies,2023-09-12,2022-09-03,26-35,Male,Cardiff,New,Bronze,4492.20
11999,2023-12-09,C0391,P0033,Smartphones,4070.52,3,North East,Organic,Sea Tablet,Tablets,...,220.53,Quantum Supplies,2019-08-05,2020-06-24,18-25,Female,Glasgow,New,Bronze,3469.77

In [13]:
final_techhub_data['profit_margin'] = (final_techhub_data['profit_amount'] / final_techhub_data['revenue']) * 100
final_techhub_data[['revenue', 'profit_amount', 'profit_margin']].head()

   revenue  profit_amount  profit_margin
0  3086.76        2971.90      96.278946
1  1033.86         -87.64      -8.476970
2   644.56        -800.34    -124.168425
3   659.20       -2388.80    -362.378641
4   174.85         -15.84      -9.059194

In [14]:
import datetime as dt
final_techhub_data['tenure_days'] = (pd.Timestamp.now() - final_techhub_data['signup_date']).dt.days
final_techhub_data[['signup_date', 'order_date', 'tenure_days']].head()

  signup_date order_date  tenure_days
0  2020-10-13 2023-12-05         1961
1  2021-02-09 2023-08-08         1842
2  2022-09-22 2024-04-29         1252
3  2022-02-02 2024-03-17         1484
4  2022-12-20 2023-02-25         1163

In [15]:
#Customer Lifetime Value = SUM([Revenue]) per customer
final_techhub_data.groupby('customer_id')['revenue'].sum().reset_index(name='customer_lifetime_value').head()

  customer_id  customer_lifetime_value
0       C0001                  8816.94
1       C0002                 11333.06
2       C0003                  8575.20
3       C0004                  1716.27
4       C0005                 18398.13

In [17]:
final_techhub_data['product_age_days'] = (final_techhub_data['order_date'] - final_techhub_data['launch_date']).dt.days
final_techhub_data[['launch_date', 'order_date', 'product_age_days']].head()

  launch_date order_date  product_age_days
0  2019-12-13 2023-12-05              1453
1  2019-12-22 2023-08-08              1325
2  2021-04-18 2024-04-29              1107
3  2022-02-01 2024-03-17               775
4  2023-07-06 2023-02-25              -131

In [18]:
final_techhub_data1 = final_techhub_data.sort_values(by=['customer_id', 'order_date'])
final_techhub_data1[['customer_id', 'order_date']].head(20)

      customer_id order_date
11481       C0001 2023-03-26
9144        C0001 2023-09-11
5330        C0001 2023-11-30
9909        C0001 2023-12-05
10613       C0001 2024-05-23
7051        C0002 2023-01-19
3465        C0002 2023-05-09
7781        C0002 2023-06-02
2285        C0002 2024-05-01
2443        C0003 2024-04-12
595         C0003 2024-05-04
5234        C0004 2023-08-12
3806        C0005 2023-02-21
515         C0005 2023-04-08
9805        C0005 2023-12-01
3596        C0005 2024-01-16
10317       C0005 2024-05-04
3064        C0006 2024-05-24
11299       C0007 2023-05-15
5347        C0007 2023-08-02

In [19]:
orders = final_techhub_data.groupby(['customer_id', 'order_date'])['revenue'].sum()
final_techhub_data['orders'] = orders.reset_index(drop=True)

In [20]:
final_techhub_data1 = final_techhub_data.sort_values(by=['customer_id', 'order_date'])
final_techhub_data1[['customer_id', 'order_date', 'orders']].head(20)

      customer_id order_date   orders
11481       C0001 2023-03-26   349.70
9144        C0001 2023-09-11   442.24
5330        C0001 2023-11-30  1033.86
9909        C0001 2023-12-05  4407.16
10613       C0001 2024-05-23  1656.06
7051        C0002 2023-01-19  1642.96
3465        C0002 2023-05-09   225.32
7781        C0002 2023-06-02   376.88
2285        C0002 2024-05-01  2140.02
2443        C0003 2024-04-12  3661.24
595         C0003 2024-05-04  2853.36
5234        C0004 2023-08-12   814.64
3806        C0005 2023-02-21  4895.76
515         C0005 2023-04-08  1417.58
9805        C0005 2023-12-01  1068.40
3596        C0005 2024-01-16   217.02
10317       C0005 2024-05-04   434.04
3064        C0006 2024-05-24   571.92
11299       C0007 2023-05-15  1691.26
5347        C0007 2023-08-02  4138.02

In [22]:
final_techhub_data2 = final_techhub_data.groupby('customer_id')['orders'].sum().reset_index()
final_techhub_data2[['customer_id', 'orders']].head(20)

   customer_id    orders
0        C0001   7889.02
1        C0002   4385.18
2        C0003   6514.60
3        C0004    814.64
4        C0005   8032.80
5        C0006    571.92
6        C0007  14354.28
7        C0008    929.24
8        C0009  22004.45
9        C0010   2323.64
10       C0011   8386.91
11       C0012  15214.58
12       C0013  16443.78
13       C0014  14757.02
14       C0015   6524.88
15       C0016  15151.27
16       C0017  12692.50
17       C0018   8256.81
18       C0019  10157.64
19       C0020  10893.58

In [23]:
final_techhub_data['order_date'].dt.month.value_counts().sort_index()

order_date
1     1380
2     1305
3     1393
4     1280
5     1323
6     1275
7      621
8      692
9      651
10     694
11     668
12     718
Name: count, dtype: int64

In [89]:
final_techhub_data.to_csv(r"C:\Users\kanza\Downloads\TechHub_Final_Data.csv", index=False)